workflow-template.json
{"meta":{"instanceId":"","templateCredsSetupCompleted":false},"name":"Notify and manage podcast edits with WizCut and Slack","tags":[],"nodes":[{"parameters":{"content":"## Automated Podcast Editing Notifications with WizCut\n\n### How it works\n\nThis workflow listens for WizCut editing status updates and routes each event based on its current stage. Depending on the status, it either sends a Slack notification for speaker mapping, starts the rendering process in WizCut, or notifies Slack that the episode is ready.\n\n### Setup steps\n\n- Configure the WizCut trigger credentials and event subscription so status updates are received by n8n.\n- Configure WizCut credentials for the render action node.\n- Connect Slack credentials and select the target channels or users for the speaker-mapping and episode-ready notifications.\n- Review the switch conditions in Route by Job Status to ensure they match the exact statuses sent by WizCut.\n\n### Customization\n\nAdjust the Slack message text, destination channels, and switch status rules to match your podcast production process. Get an API key and read the docs at wizcut.com.","width":480,"height":832},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,-48],"id":"b71f630c-887e-4f86-8f11-ece4a1ffb1e4","name":"Sticky Note"},{"parameters":{"content":"## Receive and route status\n\nListens for WizCut podcast editing events and uses the status router to choose the appropriate follow-up action.","width":480,"height":352,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,240],"id":"45d75b74-72f8-44bc-9da7-a0bfa8b319e6","name":"Sticky Note1"},{"parameters":{"content":"## Handle status outcomes\n\nExecutes the selected branch after routing: notifying Slack to map speakers, starting a WizCut render, or notifying Slack that the episode is ready.","width":240,"height":832,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[576,-48],"id":"5e3d5083-a430-4e73-907e-767aa7ba1148","name":"Sticky Note2"},{"id":"trigger","name":"On WizCut Status Change","type":"@wizcut/n8n-nodes-wizcut.wizcutTrigger","position":[40,400],"webhookId":"wizcut-status","parameters":{"event":"any"},"typeVersion":1},{"id":"switch","name":"Route by Job Status","type":"n8n-nodes-base.switch","position":[320,400],"parameters":{"rules":{"values":[{"outputKey":"mapping","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"mapping"}]},"renameOutput":true},{"outputKey":"ready","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"ready"}]},"renameOutput":true},{"outputKey":"complete","conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"complete"}]},"renameOutput":true}]},"options":{}},"typeVersion":3},{"id":"slack-mapping","name":"Notify Slack: Map Speakers","type":"n8n-nodes-base.slack","position":[620,180],"parameters":{"text":"=🎙️ *Speakers detected for job {{ $json.jobId }}*\n\nWizCut found these speakers: {{ $json.speakers.join(', ') }}\n\n👉 <{{ $json.reviewUrl }}|Map speakers to cameras>\n\nThis takes about 30 seconds — just confirm which camera shows which speaker.","select":"channel","resource":"message","channelId":{"__rl":true,"mode":"name","value":"#podcast-production"},"operation":"post","otherOptions":{}},"typeVersion":2.2},{"id":"render","name":"WizCut: Start Render","type":"@wizcut/n8n-nodes-wizcut.wizcut","position":[620,400],"parameters":{"jobId":"={{ $json.jobId }}","operation":"startRender"},"credentials":{"wizcutApi":{"id":"","name":"WizCut API"}},"typeVersion":1},{"id":"slack-complete","name":"Notify Slack: Episode Ready","type":"n8n-nodes-base.slack","position":[620,620],"parameters":{"text":"=✅ *Episode rendered!*\n\nJob {{ $json.jobId }} is ready for download:\n👉 {{ $json.outputUrl }}\n\nApprove it in WizCut or use the WizCut Approve action to finalize.","select":"channel","resource":"message","channelId":{"__rl":true,"mode":"name","value":"#podcast-production"},"operation":"post","otherOptions":{}},"typeVersion":2.2}],"pinData":{},"connections":{"On WizCut Status Change":{"main":[[{"node":"Route by Job Status","type":"main","index":0}]]},"Route by Job Status":{"main":[[{"node":"Notify Slack: Map Speakers","type":"main","index":0}],[{"node":"WizCut: Start Render","type":"main","index":0}],[{"node":"Notify Slack: Episode Ready","type":"main","index":0}]]}}}
