workflow-template.json
{
  "name": "Automated Podcast Editing Notifications with WizCut",
  "nodes": [
    {
      "parameters": {
        "content": "## Automated podcast editing with WizCut\n\nWizCut automatically syncs, detects speakers, and cuts your multicam podcast. This workflow reacts to each status update:\n\n1. **Speakers detected** → Slack ping with a link to map speakers to cameras (~30s in the WizCut editor)\n2. **Cuts ready** → automatically starts the final render\n3. **Render complete** → Slack ping with the download link\n\n**Setup:** add your WizCut + Slack credentials, pick a channel, then paste the WizCut Trigger URL as the `callbackUrl` when you create a job. Get an API key at wizcut.com.",
        "height": 360,
        "width": 380,
        "color": 4
      },
      "id": "note-overview",
      "name": "How this works",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-360, 180]
    },
    {
      "parameters": {
        "event": "any"
      },
      "id": "trigger",
      "name": "WizCut Trigger",
      "type": "@wizcut/n8n-nodes-wizcut.wizcutTrigger",
      "typeVersion": 1,
      "position": [40, 400],
      "webhookId": "wizcut-status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "mapping",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mapping"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ready",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "complete",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complete"
            }
          ]
        },
        "options": {}
      },
      "id": "switch",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [320, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#podcast-production"
        },
        "text": "=🎙️ *Speakers detected for job {{ $json.jobId }}*\n\nWizCut found these speakers: {{ $json.speakers.join(', ') }}\n\n👉 <{{ $json.reviewUrl }}|Map speakers to cameras>\n\nThis takes about 30 seconds — just confirm which camera shows which speaker.",
        "otherOptions": {}
      },
      "id": "slack-mapping",
      "name": "Slack: Map Speakers",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [620, 180]
    },
    {
      "parameters": {
        "operation": "startRender",
        "jobId": "={{ $json.jobId }}"
      },
      "id": "render",
      "name": "WizCut: Start Render",
      "type": "@wizcut/n8n-nodes-wizcut.wizcut",
      "typeVersion": 1,
      "position": [620, 400],
      "credentials": {
        "wizcutApi": {
          "id": "",
          "name": "WizCut API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#podcast-production"
        },
        "text": "=✅ *Episode rendered!*\n\nJob {{ $json.jobId }} is ready for download:\n👉 {{ $json.outputUrl }}\n\nApprove it in WizCut or use the WizCut Approve action to finalize.",
        "otherOptions": {}
      },
      "id": "slack-complete",
      "name": "Slack: Episode Ready",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [620, 620]
    }
  ],
  "connections": {
    "WizCut Trigger": {
      "main": [
        [{ "node": "Route by Status", "type": "main", "index": 0 }]
      ]
    },
    "Route by Status": {
      "main": [
        [{ "node": "Slack: Map Speakers", "type": "main", "index": 0 }],
        [{ "node": "WizCut: Start Render", "type": "main", "index": 0 }],
        [{ "node": "Slack: Episode Ready", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": []
}
